body {
	margin: 10px;
	background: #777777;
	font-size: 48px;
	line-height: 0.9em;
}

#box {
	position: absolute;
	left: 1em;
	top: 1.4em;
	padding: 10px;
	width: 400px;
	height: 200px;
	border: 2px dashed blue;
	background: #aaaaaa;
}

#light {
	position:relative;
	left: 412px;
	top: 0em;
	width: 1em;
	height: 1em;
	background: red;
	border: 1px solid black;
}

#header {
	position: absolute;
	left: 1em;
	top: 0.4em;
	font-style: italic;
	color: #aaaabb;
	opacity: 0.5;
}
