body {
	margin: 10px;
	background: #777777;
	font-size: 48px;
	line-height: 0.9em;
}

#box {
	position: relative;
	padding: 10px;
	width: 400px;
	height: 200px;
	border: 2px dashed blue;
	background: #aaaaaa;
}

.msg {
	font-style: italic;
	color: #aaaabb;
	opacity: 0.5;
}